# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environnements virtuels
# =========================
venv/
env/
.venv/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db



